<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda en Línea</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="./public/bundle.css">
</head>
<body class="grid-container no-sidebar">
  <header class="header">
    <div class="logo-container">
        <img src="/assets/imagen/Logo3.png" alt="Logo de la empresa">
    </div>
    <input type="checkbox" id="menuToggle" class="menu-toggle">
    <label for="menuToggle" class="abrirmenu"><i class="bi bi-list"></i></label>
    <nav class="nav">
        <label for="menuToggle" class="cerrarmenu"><i class="bi bi-x-lg"></i></label>
        <ul class="navbar__list">
            <li class="navbar__item"><a class="navbar__link" href="index">Inicio</a></li>
            <li class="navbar__item"><a class="navbar__link" href="products">Productos</a></li>
            <li class="navbar__item"><a class="navbar__link" href="#about">Acerca</a></li>
            <li class="navbar__item"><a class="navbar__link" href="#contact">Contacto</a></li>
        </ul>
    </nav>
</header>
    <nav class="navbard">
        <div class="container">
            <input type="text" placeholder="Buscar..." class="inputb">
            <button class="search-button"><i class="bi bi-search"></i></button>
        </div>
    </nav>
    <main class="main">
      <section id="container-slider">	
        <a href="javascript: fntExecuteSlide('prev');" class="arrowPrev"><i class="fas fa-chevron-circle-left"></i></a>
        <a href="javascript: fntExecuteSlide('next');" class="arrowNext"><i class="fas fa-chevron-circle-right"></i></a>
        <ul class="listslider">
          <li><a itlist="itList_0" href="#" class="item-select-slid"></a></li>
          <li><a itlist="itList_1" href="#"></a></li>
          <li><a itlist="itList_2" href="#"></a></li>
        </ul>
        <ul id="slider">
          <li style="background-image: url('https://cdn.pixabay.com/photo/2020/04/15/11/20/telework-5046230_1280.jpg'); z-index:0; opacity: 1;">
            <div class="content_slider" >
              <div>
                <h2>Emprendimiento empresarial</h2>
            <p>Descubra en qué consiste el emprendimiento empresarial por medio de 5 estrategias fundamentales.</p>
            <a href="#" class="btnSlider">Ver más</a>
          </div>
            </div>
          </li>
          <li style="background-image: url('https://cdn.pixabay.com/photo/2018/02/20/10/28/business-3167295_960_720.jpg'); ">
            <div class="content_slider" >
              <div>
                <h2>Negocios</h2>
            <p>Recursos, guías, herramientas y consejos para emprender, crear tu empresa o iniciar un negocio exitoso</p>
            <a href="#" class="btnSlider">Ver más</a>
          </div>
            </div>
          </li>
          <li style="background-image: url('https://cdn.pixabay.com/photo/2015/07/17/22/42/typing-849806_960_720.jpg'); ">
            <div class="content_slider" >
              <div>
                <h2>Estrategias de negocio</h2>
            <p>Las estrategias de negocio representan planes o métodos...</p>
            <a href="#" class="btnSlider">Ver más</a>
          </div>
            </div>
          </li>
       </ul>
     </section>
   </main>
    <aside class="sidebar">
      <div class="cuadrado">
        <div class="cuadrado__bro">
          <img src="./assets/imagen/foto1.jpeg" alt="Descripción de la imagen 1">
        </div>
        <div class="cuadrado__bro">
          <img src="./img/tennis/2.jpg" alt="Descripción de la imagen 2">
        </div>
        <div class="cuadrado__bro">
          <img src="./img/thumbs/negro.jpg" alt="">
        </div>
        <div class="cuadrado__bro">
          <img src="./assets/imagen/foto1.jpeg" alt="">
        </div>
        <div class="cuadrado__bro">
          <img src="./assets/imagen/foto2.jpg" alt="">
        </div>
        <div class="cuadrado__bro">
          <img src="./img/tennis/4.jpg" alt="">
        </div>
        <div class="cuadrado__bro">
          <img src="./img/raw/jaizer-capangpangan-2Xhv5zrTLN0-unsplash.jpg" alt="">
        </div>
      </div>
    </aside>
    <footer class="footer">
      <div class="textinfo">
        <h3 class="textinfo__title">Contacto</h3>
        <p  class="textinfo__text">Email: arayasuarezerika@gmail.com</p>
        <p  class="textinfo__text">Teléfono: 3873355251</p>
        <p  class="textinfo__text">Dirección: Pasaje lebhenson 89</p>
        <ul class="web-social">
            <li class="web-social__item">
              <a href="https://www.twitch.tv/doriandesings">
                <img src="/assets/imagen/youtube-logo.png" alt="youtube logo" class="web-social__logo"/>
              </a>
            </li>
            <li class="web-social__item">
              <a href="https://www.instagram.com/dorian_desings/?hl=es">
                <img src="/assets/imagen/instagram-logo.png" alt="instagram logo" class="web-social__logo" />
              </a>
            </li>
            <li class="web-social__item">
                <a href="https://twitter.com/home?lang=es">
                <img src="/assets/imagen/twitter-logo.png" alt="twitter logo" class="web-social__logo" />
              </a>
            </li>
            <li class="web-social__item">
              <a href="https://www.youtube.com/c/DorianDesings/?sub_confirmation=1">
                <img src="/assets/imagen/twitch-logo.png" alt="twitch logo" class="web-social__logo" />
              </a>
            </li>
        </ul>
    </div>
        <div class="textinfo">
            <h3 class="textinfo__title">Sobre nosotros</h3>
            <ul class="lista-caracteristicas">
              <li class="text__raro">Somos una tienda especializada en lencería femenina</li>
              <li class="text__raro">Ofrecemos una amplia variedad de estilos y tallas</li>
              <li class="text__raro">Nuestra misión es hacer que cada mujer se sienta hermosa y confiada</li>
            </ul>
    </div>
     
    </footer>
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="app.js"></script>
    <script src="script.js"></script> 
</body>
</html>