
#container-slider
{
    /* Contenedor del Slider
    Este bloque configura un contenedor para un slider, asegurando que ocupe todo el ancho disponible. Su posición es relativa, lo que permite la manipulación de elementos dentro de él. Además, se le asigna un z-index de 1 para establecer su nivel de apilamiento en relación con otros elementos. */
    position: relative;
    display: block;
    width: 100%;
    z-index: 1;
}
#slider {
    /*Slider Principal
   Este bloque define un slider que ocupa el 100% del ancho y una altura que varía según el tamaño de la pantalla, con un mínimo de 500px. Tiene una posición relativa para facilitar la manipulación de elementos dentro de él. El z-index asegura que el slider quede en el fondo de otros elementos apilados. */
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    z-index: 1; /* Slider en el fondo */
}
#slider li {
    /*Estilo para los elementos del Slider
    Este bloque aplica a los elementos <li> del slider, asegurando que las imágenes de fondo se ajusten y se centren. Los elementos se posicionan de forma absoluta para cubrir todo el área del slider, con una transición suave de opacidad de 1 segundo. Su opacidad inicial es 0, lo que los hace invisibles hasta que se les cambia la opacidad, y se colocan detrás de otros elementos con un z-index de -1. */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
    /*Flechas del slider
    Estiliza las flechas con tamaño grande, color translúcido, posición absoluta y centrado vertical. */
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2; 
}
#container-slider .arrowNext {
    /* Flecha siguiente
    Ajusta la posición de la flecha derecha al margen derecho con prioridad. */
    left: initial;
    right: 50px !important;
}
.content_slider{
    /*Contenido del slider
    Define el diseño del contenido dentro del slider, asegurando espaciado interno, color de texto blanco, y ocupando todo el ancho y alto disponibles. */
    padding: 15px 30px;
    color: #FFF;
    width: 100%;
    height: 100%;
}
.content_slider div{
    text-align: center;
}
.content_slider h2{
    /* Título del contenido del slider
    Estiliza los encabezados dentro del slider con fuente Arial, tamaño grande, espaciado entre letras, texto en mayúsculas, y un margen inferior para separar elementos. */
    font-family: 'arial';
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content_slider p {
    /* Descripción del contenido del slider
    Aplica estilo a los párrafos del slider con fuente Arial, tamaño de texto moderado, color blanco, y margen inferior para espaciar elementos. */
    font-size: 15pt;
    font-family: 'arial';
    color: #FFF;
    margin-bottom: 20px;
}
#slider li .content_slider{
    background: rgba(0, 0, 0, 0.50);
    padding: 10px 125px;
}
.content_slider{
    /* Centrado del contenido del slider
    Configura el contenedor del slider para centrar su contenido tanto horizontal como verticalmente, utilizando propiedades de flexbox con soporte para navegadores antiguos. */
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSlider{
    /* Botón estilizado para el slider
    Diseña un botón atractivo con tipografía legible, bordes redondeados y un fondo semitransparente. Incluye una transición suave al interactuar con él. */
    color: #FFF;
    font-size: 15pt;
    font-family: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #CCC;
    background: rgba(13, 13, 13, 0.55);
    border-radius: 31px;
    text-decoration: none;
    transition: .5s all;
}
.btnSlider:hover{
    background: #111;
    border: 1px solid #111;
}
.listslider {
    /* Indicadores del slider
    Estiliza una lista de indicadores para el slider, ubicada en la parte inferior y centrada horizontalmente. Usa flexbox para distribuirlos uniformemente y asegurar una apariencia ordenada. */
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 5%;
    list-style: none;
    z-index: 2;
    transform: translateX(-50%);
}
.listslider li {
    /* Puntos de navegación del slider
    Define cada elemento de la lista como un círculo pequeño interactivo, con un tamaño uniforme y espaciado consistente, para usarlos como indicadores del slider. */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a {
    /* Enlaces de los puntos de navegación del slider
    Estiliza los enlaces dentro de los puntos de navegación con un fondo gris claro y forma circular, garantizando que ocupen todo el espacio del contenedor. */
    background: #CCC;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid { // Ciruclos Blancos
    background: #FFF  !important;
}

/* Ajustes para pantallas entre 320px y 768px */
@media (max-width: 768px) {
    .content_slider h2 {
        font-size: 27px; /* Reduce el tamaño del título */
        margin-bottom: 15px;
    }
    .content_slider p {
        font-size: 12pt; /* Reduce el tamaño del párrafo */
        margin-bottom: 15px;
    }
    .btnSlider {
        font-size: 12pt; /* Ajusta el tamaño del texto del botón */
        padding: 8px 40px; /* Reduce el padding del botón */
    }
    #slider li .content_slider {
        padding: 10px 50px; /* Reduce el padding general del contenido */
    }
    .listslider li {
        width: 8px; /* Botones indicadores más pequeños */
        height: 8px;
    }
    .arrowPrev {
        margin-left: -1em;
     }
     .arrowNext{
         margin-right: -1em;
     }
}

/* Ajustes específicos para pantallas muy pequeñas (320px a 480px) */
@media (max-width: 480px) {
    .content_slider h2 {
        font-size: 20pt; /* Aún más pequeño para dispositivos muy pequeños */
    }
    .content_slider p {
        font-size: 10pt;
    }
    .btnSlider {
        font-size: 10pt;
        padding: 5px 30px;
    }
    #slider li .content_slider {
        padding: 5px 20px;
    }
    .arrowPrev {
       margin-left: -1em;
    }
    .arrowNext{
        margin-right: -1em;
    }
}
