.logo-container {
    width: 250px; // Ajusta según el tamaño deseado del logo
    height: auto; // Mantén la proporción de la imagen
    margin-bottom: -5px;
    &__img{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; // Asegura que el logo se ajuste al ancho del contenedor
      height: auto; // Mantén las proporciones correctas
    }
  }