.navbard{
   display: flex;
   justify-content: center;
   align-items: center;
   .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   }
}

.inputb{
    height: 2.5rem;
    width: 50%;
    text-decoration: none;
    padding: 10px;
    padding-right: 35px;
    border-radius: 5px 0 0 5px;
    border: 0;
    outline: none;
    font-size: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.search-button{
    background-color: crimson;
    padding: 10px 25px;
    height: 2.5rem;
    border: 0;
    border-radius: 0 5px 5px 0;
    color: #ffffff;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.search-butto:hover{
    background-color: darkred;
}