body{
    position: relative;
}
.menu-toggle {
    display: none;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    background-color: rgb(28, 26, 26);
    padding: 2rem;
    gap: 1rem;
    top: 0;
    left: -100%;
    bottom: 0;
    transition: left 0.3s ease, opacity 0.3s ease; 
    opacity: 0; 
}

.nav.active {
    left: 0; 
    height: 100%;
    opacity: 1; 
    box-shadow: 0 0 0 100vmax rgba(0, 0, 0, 0.5);
    z-index: 5; /* Asegúrate de que esté por encima del slider */
}

.abrirmenu,
.cerrarmenu {
    display: block;
    font-size: 2rem;
    background-color: transparent;
    cursor: pointer;
    border: 0;
}
.abrirmenu{
    color: #ffffff;
}
.cerrarmenu{
    color: #ffffff;
}

.nav.active + .abrirmenu {
    display: none;
}

.nav.active + .cerrarmenu {
    display: block; 
}

.navbar__link {
    color: #ffff;
    text-decoration: none;
}

.navbar__list {
    display: flex;
    flex-direction: column;
    text-align: left;
    list-style-type: none;
    gap: 1rem;
}

@media (min-width: 768px) {
    .navbar__link {
        color: rgb(255, 252, 252);
        text-decoration: none;
    }
    
    .navbar__list {
        display: flex;
        flex-direction: row; 
        gap: 2rem;
        list-style-type: none;
        padding: 0;
        margin: 0;
    }

    .nav {
        position: static;
        display: flex;
        background-color: transparent;
        box-shadow: none;
        justify-content: center; 
        left: 0; 
        flex-direction: row; 
        opacity: 1;
    }

    .abrirmenu, .cerrarmenu {
        display: none;
    }
}