.main {
  .products {
    &__container {
      /* Ajusta el espacio vertical entre los elementos dentro del contenedor de productos */
      row-gap: 3.5rem;
    }

    &__card {
      /* Estilos para las tarjetas de producto 
      Establece el diseño de las tarjetas de producto con un fondo blanco, centrado, sombras y un ancho máximo fijo de 390px para pantallas grandes.*/
      background-color: white;               
      text-align: center;                   
      width: 100%;                            
      max-width: 390px;                     
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Sombra suave para dar efecto de profundidad
      margin: 0 auto;                     
    }

    &__content {
      /* Contenedor flexible que organiza los productos en columnas 
      Organiza en un sistema de grid flexible, ajustando automáticamente el número de columnas según el tamaño de la pantalla, con un espacio de 0.5rem entre las tarjeta.*/
      display: grid;                         
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Se ajusta automáticamente a las pantallas */
      justify-content: center;              
      gap: 0.5rem;                         
      row-gap: 1rem;                         
    }

    &__img {
      /* Estilo de las imágenes dentro de las tarjetas 
      Ajusta las imágenes dentro de las tarjetas para que ocupen el 100% del contenedor y tengan un efecto de desplazamiento hacia arriba al pasar el mouse.*/
      height: 80%;                         
      width: 100%;                          
      max-width: 390px;                      
      transition: transform 0.4s;  // Efecto de transición para el hover 
    }

    &__img:hover {
      /* Efecto al pasar el ratón sobre la imagen */
      transform: translateY(-0.35rem);       /* Desplaza la imagen ligeramente hacia arriba */
    }

    &__name,
    &__price {
      /* Estilos para el nombre y el precio de los productos 
      Ajusta el tamaño de fuente, peso y espaciado para los textos del nombre y precio del producto.*/
      font-size: 1.2rem;                    
      font-weight: 500;                  
      line-height: 120%;                   
    }
  }

  // Media Queries para diferentes tamaños de pantalla
  @media (min-width: 768px) {
    .products {
      &__content {
        /* En pantallas medianas, usa 3 columnas para los productos */
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  @media (min-width: 1024px) {
    .products {
      &__content {
        /* En pantallas grandes, usa 4 columnas para los productos */
        grid-template-columns: repeat(4, 1fr);
      }
    }
  }

  @media (max-width: 480px) {
    .products {
      &__content {
        /* En pantallas pequeñas (móviles), usa solo 1 columna */
        grid-template-columns: repeat(1, 1fr);
      }

      &__card {
        /* En pantallas móviles, las tarjetas ocupan todo el ancho */
        max-width: 100%;
      }

      &__img {
        /* En pantallas móviles, las imágenes tienen altura automática */
        height: auto;
        width: 100%;
      }

      &__name,
      &__price {
        /* Reducir el tamaño de la fuente en pantallas más pequeñas */
        font-size: 1rem;
      }
    }
  }
}