<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Formulario Producto</title>
</head>
<body>
<h1>Crear Producto</h1>
<form th:action="@{/guardar}" method="post" accept-charset="UTF-8">
    <!-- Token para verificacion de csrf -->
    <input type="hidden"
           th:name="${_csrf.parameterName}"
           th:value="${_csrf.token}"/>

    <!-- Nombre -->
    <div>
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required maxlength="255" />
    </div>

    <!-- Descripción -->
    <div>
        <label for="descripcion">Descripción:</label>
        <textarea id="descripcion" name="descripcion" required maxlength="255"></textarea>
    </div>

    <!-- Precio -->
    <div>
        <label for="precio">Precio:</label>
        <input type="number" id="precio" name="precio" required step="0.01" min="0" />
    </div>

    <!-- Imágenes -->
    <div>
        <label for="imagenes">Imágenes:</label>
        <select id="imagenes" name="imagenes" multiple>
            <option th:each="imagen : ${imagenes}"
                    th:value="${imagen.id}"
                    th:text="${imagen.nombre}"></option>
        </select>
    </div>

    <!-- Colores -->
    <div>
        <label for="colores">Colores:</label>
        <select id="colores" name="colores" multiple required>
            <option th:each="color : ${colores}"
                    th:value="${color.nombre}"
                    name="colores[${color.id}].nombre"
                    th:text="${color.nombre}"></option>
        </select>
    </div>

    <!-- Categorías -->
    <div>
        <label for="categorias">Categorías:</label>
        <select id="categorias" name="categorias" multiple>
            <option th:each="categoria : ${categorias}"
                    th:value="${categoria.nombre}"
                    th:text="${categoria.nombre}"></option>
        </select>
    </div>

    <!-- Botón Enviar -->
    <div>
        <button type="submit">Guardar Producto</button>
    </div>
</form>
</body>
</html>
